deepface==0.0.92
fastapi==0.115.0
keras==2.15.0
matplotlib>=3.8.2
numpy==1.26.0
Pillow==10.4.0
pydantic==2.9.2
pymongo==4.6.3
python-dotenv==1.0.1
tensorflow==2.15.0
uvicorn==0.31.0
pytest==7.4.4
httpx
sphinx
sphinx-rtd-theme
myst-parser
mypy-extensions
