name: Changelog CI

# Trigger on pull request event
on:
  pull_request:
    types: [ opened ]



jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Check out the repository content
      - uses: actions/checkout@v2

      # Run Changelog CI action
      - name: Run Changelog CI
        uses: saadmk11/changelog-ci@v1.1.2
        with:
          # Name of the changelog file
          changelog_filename: CHANGELOG.md
          # Optionally provide the config file path
          # config_file: changelog-ci-config.json
          # Committer details
          committer_username: github-actions[bot]
          committer_email: github-actions[bot]@users.noreply.github.com
          # GitHub token for authorization
          github_token: ${{ secrets.GITHUB_TOKEN }}

